body{
    margin: 0;
    padding: 0;
    background-color: black;

}

.container1 h1{
    text-align: center;
    color: white;
    font-size: 40px;
}

.container1 p{
    background-color: white;
    text-align: center;
    width: 55px;
    height: 55px;
    margin-left: 650px;
}

.container1 p i{
    font-size: 50px;
    margin-top: 1.5px;
}

.c1 img{
    height: 400px;
    width: 700px;
    margin-left: 350px;
}

.container2{
    margin-top: 50px;
    background-color: black;
}

.container2 h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
.container2 img{
    float: left;
    height: 300px;
    width: 300px;
    margin-right: 50px;
}

.container2 p{
    color: white;
    margin-left: 30px;
    margin-right: 50px;
}


.tab-titles{
    display: flex;
}

.tabs{

    font-size: 40px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.tabs.active-link:hover{
    color: rgb(12, 63, 12);
}


.tab-contents ul li{
    list-style-type: none;
    margin: 10px 0;
    text-align: center;
    color: white;
}

.tab-contents ul li p{
    margin-top: 15px;

}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


.footer{
    text-align: center;
}